services:
  - type: web
    name: varna-app
    env: node
    plan: free
    buildCommand: |
      cd server && npm ci && \
      cd ../client && npm ci && npm run build
    startCommand: cd server && node server.js
    autoDeploy: true
    healthCheckPath: /api/health
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
